.my-blogs{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    
}
.my-blogs img{
    width: 400px;
    height: 400px;
}
.my-blogs div{
    background:#333 ;
    color: #fff;
    text-align: center;
}
.blog-box-1{

}

.blog-box-2{

}

.blog-box-3{

}
.container{
    text-align: center;
    